numpy>=1.26.0
# scipy is optional, uncomment if you have a Fortran compiler installed
# scipy>=1.11.0
# torch is optional for advanced audio processing
# torch>=2.0.0
pandas>=2.0.0
tqdm>=4.0.0
matplotlib>=3.5.0
mido
librosa
streamlit
pydub
midiutil
streamlit-mic-recorder
fortepyan
streamlit-pianoroll